    <div class="jumbotron">
      <div class="container">
        <h1>Vagary</h1>
        <p>This is just a pre-auth test port. Some things may not work.</p>
        <a href="/vagary/"" class="btn btn-primary btn-lg"> View Vagary </a>
      </div>
    </div>